/src/__pycache__/
lib64
lib/
bin/
include/
saved_patches/
pyvenv.cfg
test_c1.jpg
test_c2.jpg
test1.png
test2.png
summary.docx
result.jpg
map.jpg
map2.jpg
log.txt
mapTest.jpg
testColors.png
testShapes.png
result1.jpg
result2.jpg
