/src/__pycache__/
lib64
lib/
bin/
include/
saved_patches/
upload/
queues/
map1.png
map2.png
pyvenv.cfg
test_c1.jpg
test_c2.jpg
summary.docx
result.jpg
map.jpg
map2.jpg
log.txt
mapTest.jpg
testColors.png
testShapes.png
result1.png
result2.png
