{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    {{super()}}
    {% endblock %}
  </head>
  <body>
    {% block body %}
    {{super()}}
    <div class="cover" id="loader">
      <div class="loader">
        <div class="spin"></div>
        <p style="font-weight: bolder; font-size: 2rem; color: #403D39;">Подождите</p>
        <p style="font-weight: bolder; font-size: 1rem; color: #403D39;">Идёт загрузка</p>
      </div>
    </div>
    <header></header>
    <main>
      <div class="wrapper">
        <div class="container">
          <h1>Город в деталях: цифровая экспертиза</h1>
          <h5>Детальное сравнение изображений и выявление отличий цвета, текста, формы и размера</h4>

          <form action="/" method="post" enctype="multipart/form-data" id="form">
            <div class="fileSelection">
              <div class="uploadWrapper" id="uploadFirst">
                <div class="upload">
                  <div id="labelsFirst">
                    <label for="first"><img src="{{url_for('static', filename='images/upload.png')}}" width="100px" height="100px"></label>
                    <label for="first" style="font-size: 1.25rem; font-weight: bolder;">Выберите или перетащите сюда изображение</label>
                    <label for="first" style="font-size: 1.25rem; font-weight: bolder;">(.png, .jpg)</label>
                  </div>
                  <input type="file" name="first" required accept="image/png,image/jpeg" id="first">
                  <img src="" id="previewFirst" class="disabled">
                </div>
              </div>
              <div class="uploadWrapper" id="uploadSecond">
                <div class="upload">
                  <div id="labelsSecond" disabled>
                    <label for="second"><img src="{{url_for('static', filename='images/upload.png')}}" width="100px" height="100px"></label>
                    <label for="second" style="font-size: 1.25rem; font-weight: bolder;">Выберите или перетащите сюда изображение</label>
                    <label for="second" style="font-size: 1.25rem; font-weight: bolder;">(.png, .jpg)</label>
                  </div>
                  <input type="file" name="second" required accept="image/png,image/jpeg" id="second">
                  <img src="" id="previewSecond" class="disabled">
                </div>
              </div>
            </div>
            <input type="submit" value="Сравнить" id="uploadBtn">
          </form>
        </div>
      </div>
    </main>
    <script>

      var firstFile = null;
      var secondFile = null;

      const first = document.getElementById("uploadFirst");
      const second = document.getElementById("uploadSecond");
      const inputFirst = document.getElementById("first");
      const inputSecond = document.getElementById("second");
      var firstFiles = inputFirst.files;
      var secondFiles = inputSecond.files;
      const previewFirst = document.getElementById("previewFirst");
      const previewSecond = document.getElementById("previewSecond");
      const labelsFirst = document.getElementById("labelsFirst");
      const labelsSecond = document.getElementById("labelsSecond");
      const btn = document.getElementById("uploadBtn");
      const form = document.getElementById("form");
      const loader = document.getElementById("loader");

      function clear() {
        form.reset();
      }

      function addFirstFile(text)
      {
        firstFile = text;
        if (firstFile != null && secondFile != null)
        {
          uploadBtn.removeAttribute("disabled");
        } else {
          uploadBtn.setAttribute("disabled", "");
        }
      }

      function addSecondFile(text)
      {
        secondFile = text;
        if (firstFile != null && secondFile != null)
        {
          uploadBtn.removeAttribute("disabled");
        } else {
          uploadBtn.setAttribute("disabled", "");
        }
      }

      function dropHandler(ev) {
        ev.preventDefault();
        for (const it of ev.dataTransfer.items)
        {
          if (ev.currentTarget.getAttribute("id") == "uploadFirst")
          {
            it.getAsFile().text().then((txt) => addFirstFile(txt));
            updatePreviewFirst(it.getAsFile());
          } else {
            it.getAsFile().text().then((txt) => addSecondFile(txt));
            updatePreviewSecond(it);
          }
        }
      }

      function uploadHandler(ev) {
        ev.preventDefault();
        for (const it of ev.target.files)
        {
          if (ev.currentTarget.getAttribute("id") == "uploadFirst")
          {
            it.text().then((txt) => addFirstFile(txt));
            updatePreviewFirst(it);
          } else {
            it.text().then((txt) => addSecondFile(txt));
            updatePreviewSecond(it);
          }
        }
      }

      function updatePreviewFirst(file)
      {
        /*if (firstFile != null)
        {
          previewFirst.classList.add("disabled");
          labelsFirst.classList.remove("disabled");
        } else */{ 
          let reader = new FileReader();
          reader.readAsDataURL(file);

          reader.onload = (ev) => {
            let imgURL = ev.target.result;
            previewFirst.src = imgURL;
            previewFirst.classList.remove("disabled");
            labelsFirst.classList.add("disabled");
          }
        }
      }

      function updatePreviewSecond(file)
      {
        /*if (secondFile != null)
        {
          previewSecond.classList.add("disabled");
          labelsSecond.classList.remove("disabled");
        } else */{ 
          let reader = new FileReader();
          reader.readAsDataURL(file);

          reader.onload = (ev) => {
            let imgURL = ev.target.result;
            previewSecond.src = imgURL;
            previewSecond.classList.remove("disabled");
            labelsSecond.classList.add("disabled");
          }
        }
      }

      function loadHandler()
      {
        loader.style.display = "flex";
      }

      // clear form data
      clear();

      first.addEventListener("drop", dropHandler);
      first.addEventListener("change", uploadHandler);
      second.addEventListener("drop", dropHandler);
      second.addEventListener("change", uploadHandler);
      uploadBtn.addEventListener("click", loadHandler);
      uploadBtn.setAttribute("disabled", "");

      // reload page on browser back
      window.addEventListener( "pageshow", function ( event ) {
        var historyTraversal = event.persisted || 
          ( typeof window.performance != "undefined" && 
            window.performance.navigation.type === 2 );
        if ( historyTraversal ) {
          // Handle page restore.
          window.location.reload();
        }
      });
    </script>
    {% endblock %}
  </body>
</html>
